<body class="d-flex align-items-center py-4" style="background-color: #E8D1CA;">
    <div class="container" style="margin-left: 45%;">
        <form>
            <img style="margin-left: 7%;" class="mb-2" src="./assets/img/logo.jpg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please register</h1>

            <div class="form-floating" style="width:max-content">
                <input type="email" class="form-control mx-auto mb-2" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating" style="width:max-content;">
                <input type="password" class="form-control mx-auto mb-2" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating" style="width:max-content;">
                <input type="Repeatpassword" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingRepeatPassword">Repeat Password</label>
            </div>

            <div class="form-check text-start my-3">
                <button style="margin-left: 4%;" class="btn btn-primary w-20 py-2" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
