<footer  style=" background-color: #FFECEA;">
  <div class="container-fluid">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3" style=" background-color: #FFECEA;">
      <li class="nav-item"><a href="#" style="color: black;" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a href="#" style="color: black;" class="nav-link px-2 ">Features</a></li>
      <li class="nav-item"><a href="#" style="color: black;" class="nav-link px-2 ">Pricing</a></li>
      <li class="nav-item"><a href="#" style="color: black;" class="nav-link px-2 ">FAQs</a></li>
      <li class="nav-item"><a href="#" style="color: black;" class="nav-link px-2 ">About</a></li>
  </ul>
  <p style="color: black;" class="text-center">© 2023 Company, Inc</p>
  </div>
</footer>
