<nav class="navbar navbar-expand-lg" style=" background-color: #FFECEA;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #ffffff;" href="#">
      <img src="./assets/img/logo.jpg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    </a>

    <a class="navbar-brand" style="color: black;" href="#">DeliverEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-dark me-2" routerLink="/" type="button">Home</button>
        <button class="btn btn-outline-dark me-2" routerLink="/restaurants" type="button">Restaurantes</button>
        <button class="btn btn-outline-dark me-2" routerLink="/direccion" type="button">Direccion</button>
        <button class="btn btn-outline-dark me-2" routerLink="/cliente" type="button">Registrar Cliente</button>
      </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <button class="btn btn-outline-dark me-2" routerLink="/register" type="button">register</button>
        <button class="btn btn-outline-dark me-2" routerLink="/login" type="button">login</button>
      </form>
    </div>
  </div>
</nav>

  