
<div class="background-image">
  <div class="text">
    Tu pedido a la velocidad de la luz
  </div>

  <div class="search-box">
    <input type="text" placeholder="Buscar">
  </div>
</div>

<div class="background2">
  <div class="text2">
    <h1>Todo lo que necesites, En minutos!</h1>
    <p>En DeliverEase puedes dejar de pensar con la mente y empezar a pensar con tu estomago porque ahora todo lo que quieras te lo llevamos directamente a tu hogar. Pide tu comida favorita con esta amplia gama de restaurantes. Que tu estomago no vuelva a gruñir de hambre, pide ahora y prueba algo rico, Porque pedir un delivery es Easy.</p>
  </div>
</div>


  