
<body>

  <div class="container">&nbsp;
    <h1>Restaurantes </h1>
    
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Delicias_Mar.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Delicias del Mar</h5>
            <p class="card-text">Oferta: 15% de descuento en todos los platos principales.</p>
            <p class="card-text">Ven a disfrutar de una amplia variedad de sabores en un ambiente acogedor.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Sabor_Urbano.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Sabor Urbano</h5>
            <p class="card-text">Oferta: 2x1 en postres caseros.</p>
            <p class="card-text">Prueba nuestros deliciosos postres preparados con ingredientes frescos y de calidad.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Cocina_Magica.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Cocina Mágica</h5>
            <p class="card-text">Oferta: Menú del día a $10, incluye plato principal, bebida y postre.</p>
            <p class="card-text">Disfruta de una comida completa y equilibrada con nuestra oferta especial.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Rincon_Sabroso.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">El Rincón Sabroso</h5>
            <p class="card-text">Oferta: 20% de descuento en todos los pedidos para llevar.</p>
            <p class="card-text">Lleva la deliciosa comida de nuestro restaurante a donde quieras y ahorra dinero.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Bistro_Sentidos.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Bistro de los Sentidos</h5>
            <p class="card-text">Oferta: Happy Hour de 17:00 a 19:00, 2x1 en bebidas alcohólicas.</p>
            <p class="card-text">Disfruta de nuestros cócteles y bebidas alcohólicas a mitad de precio durante el Happy Hour.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Parrilla_Fantastica.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">La Parrilla Fantástica</h5>
            <p class="card-text">Oferta: Menú infantil gratis los domingos.</p>
            <p class="card-text">Trae a tus hijos a disfrutar de un delicioso menú especialmente diseñado para ellos sin costo adicional.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Cafe_Delicias.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Café de las Delicias</h5>
            <p class="card-text">Oferta: 10% de descuento en todas las pizzas los martes.</p>
            <p class="card-text">Prueba nuestras deliciosas pizzas con un descuento especial los martes.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Sazon_Exotica.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Sazón Exótica</h5>
            <p class="card-text">Oferta: Menú vegetariano con opción vegana disponible.</p>
            <p class="card-text">Disfruta de platos deliciosos y saludables en nuestro menú vegetariano.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="./assets/img/Festin_Gourmet.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">El Festín Gourmet</h5>
            <p class="card-text">Oferta: Menú ejecutivo de lunes a viernes a $12.</p>
            <p class="card-text">Disfruta de una comida de calidad y con descuento durante la semana en nuestro menú ejecutivo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>